@import "~antd/es/style/themes/default.less";

// Variables
@primary-color: #1890ff; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers
@recommended: #49c00d;
@other: #f0b906;
@caution: #f54c22e1;

// borders
@border-light: 1px solid @border-color-base;

// media screens
@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

@phone: ~"only screen and (max-width: @{screen-xs-min})";
@phone-strict: ~"only screen and (min-width: @{screen-xs-min}) and (max-width: @{screen-xs-max})";
@tablet: ~"only screen and (min-width: @{screen-sm-min})";
@tablet-strict: ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@desktop: ~"only screen and (min-width: @{screen-md-min})";
@desktop-strict: ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@large: ~"only screen and (min-width: @{screen-lg-min})";

.site-layout .site-layout-background,
.ant-layout-content,
.ant-layout-header,
.ant-layout,
.ant-layout-has-sider,
.site-layout-background {
    background: #fff !important;
}
.ant-layout-header {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    border-bottom: @border-light;
}
.ant-search-container {
    padding: 24px 48px;
    display: flex;
    border-bottom: @border-light;
    @media @phone {
        display: block;
        width: 100%;
    }
}
.search-product,
.legends {
    display: flex;

    @media @phone {
        display: block;
        width: 100%;
    }
}
.search-product {
    @media @tablet {
        width: 40%;
    }
    @media @desktop {
        width: 30%;
    }
    @media @phone {
        margin-bottom: 24px;
    }
}
.legends {
    @media @tablet {
        width: 60%;
    }
    @media @desktop {
        width: 70%;
    }
    justify-content: flex-end;
}
.legend-icon {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 8px;
}
.legend-box {
    display: flex;
    margin-right: 8px;
    @media @phone {
        margin-bottom: 24px;
    }
}
.recommended-bg {
    background-color: @recommended;
}
.other-bg {
    background-color: @other;
}
.caution-bg {
    background-color: @caution;
}

.side-bar-product {
    border-right: @border-light;
}

// product table
.product-cell {
    display: flex;
}
.product-label-container {
    display: block;
}
.product-img {
    padding-right: 8px;
    max-width: 22px;
}
